<!doctype html>
<html ng-app="pregnancyCalendar" ng-cloak>
<head>
  <title>PregnancyTimer.com</title>
  
  <style>
  [ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
  }
  </style>

  <meta property="og:url"           content="http://pregnancytimer.com" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="PregnancyTimer.com" />
  <meta property="og:description"   content="See an estimated due date and weeks of your pregnancy highlighted on calendar months after you choose a conception date. Length and Weight of baby by week are also colorfully displayed" />
  <meta property="og:image"         content="http://pregnancytimer.com/images/pregnancy-directions.png" />
  <meta name="description" content="Choose a conception-date then see the estimated due-date, along with the weeks of your pregnancy highlighted by calendar-months. The Length and Weight of baby by week are also colorfully displayed">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    
<div ng-controller="PregnancyCtrl" class="main-pregnancy-application" >
  <div class="canvas-controls" >
    <canvas id="canvas" width="900" height="400" ></canvas>
    <div class="spacer-mobile">.</div>
    <div class="conception-calendar-container" style="display:inline-block;">
      <div class="conception-date-instructions">
        Estimate your conception date or the date of your last period below
      </div>
      <div  style="display:inline-block; min-height:200px;" >
        <uib-datepicker ng-model="dt" class="well well-sm conception-date-calendar" datepicker-options="optionsConception" template-url='uib/template/datepicker/datepicker.html'></uib-datepicker>
      </div>
      <div>Conception date chosen: </div>
      <div class="conception-date-date">{{conceptionDate | date:'fullDate' }}</div>
      <div>Potential due-date: </div>
      <div class="conception-date-due-date">{{dueDate | date: 'fullDate'}}</div>
    </div>
  </div>

  <div class="direction-box">
    <label class="operating-instructions">The Months of your Pregnancy <small>(based on chosen conception date)</small></label>
    <label class="operating-instructions">Click on dates below to see the baby's growth by week.</label>
    <span style="font-style:oblique;"> - thanks for visiting 
      <span class="prenancy-timer-site-name"> ~ PregnancyTimer.com ~ </span>
    </span>
  </div>

  <div class="pregnancy-strip-container">
    <div ng-repeat="month in pregnancyMonths" style="display:inline-block; height:180px; margin-bottom: 0px;" ng-init="fooIndex = $index">
      <!-- <div class="pregancy-month-label" >Month {{$index}} </div> -->
      <uib-datepicker ng-model="month.dt" class="pregnancy-month well well-sm" ng-class-odd="'boy-odd'" datepicker-options="month.options" ></uib-datepicker>
    </div>
    <div class="pregnancy-strip-legend well">
    <table class="">
      <tr class="first-trimester">
        <!-- <td><span class="color-key"></span></td> -->
        <td>
          <div>First Trimester</div> 
          <div class="weeks">Weeks 1 to 12</div>
        </td>
      </tr>
      <tr class="second-trimester">
        <!-- <td><span class="color-key"></span></td> -->
        <td>
            <div> Second Trimester </div>
          <div class="weeks">Weeks 13 to 27</div> 
        </td>
      </tr>
      <tr class="third-trimester">
        <!-- <td><span class="color-key"></span></td> -->
        <td>
          <div> Third Trimester </div>
          <div class="weeks">Weeks 28 to Term</div> 
        </td>
      </tr>
    </table> 
    </div>
    <div class="ad-slot " >
     
      <div class="sell-branding">
          Pacific Obstetrics 
          <h5>call 555-555-5555</h5>
      </div>  

    </div>
    

  <!--   <table class="ad-pregnancy-strip-legend well">
      <tr class="first-trimester">
       <td> 
        <div class="pregnancy-ad"> 

          <div class="disposable-inner-ad" style="padding: 40px; font-size: 2.8em; color: goldenrod; font-style:oblique;"> 
            Your Branding Here
            <div style="font-size:.7em; font-style:italic;">...we try harder</div>
          </div> 


        </div>
       </td>
      </tr>
    </table>  -->      
    <!-- <div class="pregnancy-ad well">
      a word from our sponsors
    </div> -->
  </div>
</div>

<!-- <div class="right-side-ad-bar">
  <div> additional promotion</div>
  <div>
    visible on the right for wide displays or a banner beneath for displays under 1550 wide
  </div>


</div> -->
<div class="pregnancy-info-section col-md-12">
  <div class="left-pregnancy-directions col-md-6">
    <img src="images/pregnancy-directions.png" style="width:100%;">
  </div>
  <div class="pregnancy-content col-md-6">
    <h1>PregnancyTimer.com</h1>
    <h3>directions:</h3>
      <div class="pregnancy-directions-basic">
        <div>
          Thanks for visiting the PregnancyTimer.com site! 
        </div>
        <div>
         Choose the start date of your pregnancy using the larger calendar at the top right of the page.
        </div>
        <div>
          Presto! 
        </div>
        <ol>
          <li>See your due date</li>
          <li>See the Months of your pregnancy</li>
          <li>Press dates and see the Baby Grow!</li>
          <li>Average Weights of the Baby will be displayed for the week you select!</li>
        </ol>
          
        <div>
          Please use our pregnancy-timer tool as a starting place, not a substitute for consulting more detailed prenatal care sites or your doctor!
        </div>
      </div>
      <div class="client-logo" > 
      <div class="logo-text">For prenatal care info and more, visit:</div>
      <a href="http://www.womenshealth.gov/pregnancy/you-are-pregnant/stages-of-pregnancy.html" class="logolink">
        <img src="images/womanshealthgov.png" alt="link to us gove healthcare site womenshealth.gov" target="_blank">
      </a>
      <div class="logo-text">
        This site is NOT affiliated with 
        <a href="http://www.womenshealth.gov/pregnancy/you-are-pregnant/stages-of-pregnancy.html" alt="women's care us goverment site" target="_blank">
          womenshealth.gov
        </a>
      </div>
    </div>
  </div>

</div>

<footer class="col-md-12 pregnancy-footer">
  <div class="col-md-4 footer-cell"><a href="privacy-policy.html" title="privacy-policy">See Our Privacy Policy/Contact Us</a></div>
  <div class="col-md-4 footer-cell">copyright 2016 Tom Norian</div>
  <div class="col-md-4 footer-cell">contact the developer <a href="http://tomnorian.com">Tom Norian Web Developer</a></div>

</footer>




<!-- Latest compiled and minified CSS -->


<script src="lib/jquery-2.2.4.min.js"></script>
<script src="lib/angular.min.js"></script>
<script src="lib/angular-animate.min.js"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    

    <script src="lib/ui-bootstrap-tpls-1.3.3.js"></script>
 
    <script src="js/main.js"></script>
    <script src="js/pregnancy-canvas.js"></script>

    <link rel="stylesheet" type="text/css" href="pregnancy-timer.css">
  </body>
</html>